body {
    margin: 0;
    padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e8c2b5;
  padding: 20px 20px;
}
  
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul:first-child {
  margin-right: auto;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

nav i {
  font-size: 18px;
  color: white;
}

nav i:hover {
  color: #666;
}
  
.fa-github, .fa-linkedin {
  margin-left: 10px;
}

h1 {
  position: absolute;
  top: 42%;
  left: 17%;
  transform: translate(-50%, -50%);
  font-size: 75px;
  font-family: 'Grand Hotel', cursive;
}  

p {
  position: absolute;
  top: 55%;
  left: 17%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  text-indent: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.software {
  position: absolute;
  left: 8%;
  top: 60%;
  color: #e8c2b5;
}

.developer {
  position: absolute;
  top: 60%;
  left: 75%;
  color: white;
}

a {
  text-decoration: none;
}

.about {
  color: #e8c2b5;
}

.projects {
  color: white;
}

img {
  position: fixed;
  top: 64.5%;
  left: 49.2%;
  transform: translate(-50%, -50%);
  opacity: .5;
  transition: opacity 0.5s ease-in-out;
}

img:hover {
  opacity: 1; /* Set the opacity to 100% on hover */
}

.halfandhalf {
  height: 92.9vh;
  width: 100%;
  background: linear-gradient(to right,white 50%, #e8c2b5 50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn1 {
  position: relative;
  left: 80px;
  top: -45px;
  background-color: transparent;
  border-radius: 50%;
  color: black;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  border: 2px solid #e8c2b5;
  cursor: pointer;
}


.btn1:active {
  transform: translateY(2px);
}
  
.btn2 {
  position: relative;
  left: 115px;
  top: -45px;
  background-color: transparent;
  border-radius: 50%;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  border: 2px solid white;
  cursor: pointer;
}

.btn2:active {
  transform: translateY(2px);
}

@media (max-width: 1250px) {
  h1 {
    top: 42%;
    left: 19%;
    font-size: 70px;
  }
  h2 {
    font-size: 40px;
  }
  p {
    font-size: 12px;
    top: 53.5%;
    left: 18%;
  }
  img{
    position: fixed;
    height: 600px;
    bottom: 0;
  }
  .software {
    left: 7%;
    top: 60%;
  }
  .developer {
    left: 73%;
    top: 60%;
  }
  .btn1 {
    left: 50%;
    transform: translateX(-50%);
    top: -40px;
  }
  .btn2 {
    left: 50%;
    transform: translateX(-50%);
    top: -40px;
  }
}

@media (max-width: 1000px) {
  h1 {
    top: 42%;
    left: 19%;
    font-size: 60px;
  }
  h2 {
    font-size: 35px;
  }
  p {
    font-size: 12px;
    top: 52%;
    left: 19%;
  }
  img{
    position: fixed;
    height: 600px;
    bottom: 0;
  }
  .software {
    left: 7%;
    top: 60%;
  }
  .developer {
    left: 72%;
    top: 60%;
  }
  .btn1 {
    left: 50%;
    transform: translateX(-50%);
    top: -40px;
  }
  .btn2 {
    left: 50%;
    transform: translateX(-50%);
    top: -40px;
  }
}